<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
 </head>
 <body>
    <header class="header">
        <div class="header_top_bar">
          <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo_ML"></img>
          <!-- <form class="busquedaProductos">
            <label class="barra_busqueda_y_lupa">
          <input type="search" name="busquedaProductos" placeholder="Buscá tu producto">
          <button><i class="fas fa-search"></i></button>
        </label>
          </form> -->
        </div>
          <h2 class="cuotasSinInteres"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
          <nav class="barras_de_navegacion">
            <ul class="barra_nav_izq">
             <li><a href="https://www.mercadoliebre.com/ofertas">Ofertas</a></li>
             <li><a href="https://www.mercadoliebre.com/tiendas_oficiales">Tiendas oficiales</a></li>
             <li><a href="https://www.mercadoliebre.com/vender">Vender</a></li>
             <li><a href="https://www.mercadoliebre.com/ayuda">Ayuda</a></li>
            </ul>
            <ul class="barra_nav_der">
             <li><a href="https://www.mercadoliebre.com/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
             <li><a href="https://www.mercadoliebre.com/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
             <li><a href="https://www.mercadoliebre.com/mis_compras">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
          </nav>
  
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
  
       </header>
       
        <div class="banner">
         
         <img src="/img/img-home-banner.jpg" alt="Home Banner" class="bannerResponsive"></img>
         
        </div>
        
        
        <!-- <main class="main">
        
         <section>
          
          <h3 class="titulares">Basado en tu última visita</h3>
  
          <article class="productoGeneral">
  
          <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="imagenesProductos"></img>
         
          <div class="DetallesDeProductos">
  
           <i class="fas fa-truck"></i>
           <div class="precio_y_descuento">
           <p class="precios">$6.770</p>
           <p class="descuentos">40% off</p>
          </div>
           <p class="descripciones"><b>Cafetera Moulinex</b></p>
         
          </div>
  
         </article>
  
         <article class="productoGeneral">
  
          <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="imagenesProductos"></img>
         
          <div  class="DetallesDeProductos">
  
           <i class="fas fa-truck"></i>
           <div class="precio_y_descuento">
           <p class="precios">$230.000</p>
           <p class="descuentos">20% off</p>
          </div>
           <p class="descripciones"><b>Macbook Pro 2019</b></p>
  
          </div>
  
         </article>
  
         <article class="productoGeneral">
  
          <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" class="imagenesProductos"></img>
         
          <div  class="DetallesDeProductos">
  
           <i class="fas fa-truck camion"></i>
           <div class="precio_y_descuento">
           <p class="precios">$70.500</p>
           <p class="descuentos">10% off</p>
          </div>
           <p class="descripciones"><b>Samsung Galaxy S10</b></p>
  
          </div>
  
         </article>
  
         <article class="productoGeneral">
  
          <img src="/img/img-tv-samsung-smart.jpg" alt="TV Samsung Smart" class="imagenesProductos"></img>
         
          <div class="DetallesDeProductos">
  
           <i class="fas fa-truck camion"></i>
           <div class="precio_y_descuento">
           <p class="precios">$23.200</p>
           <p class="descuentos">5% off</p>
          </div>
           <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
         
          </div>
  
         </article>
  
        </section>
  
        
        <section>
          
          <br>
          <h3 class="titulares">Sección de Ofertas</h3>
          
          <article class="productoGeneral">
            
            <img src="/img/img-macbook-pro-2019.jpg" alt="Macbook Pro" class="imagenesProductos"></img>
            
            <div  class="DetallesDeProductos">
              
              <i class="fas fa-truck camion"></i>
              <div class="precio_y_descuento">
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
            </div>
              <p class="descripciones"><b>Macbook Pro 2019</b></p>
              
            </div>
            
          </article>
          
          <article class="productoGeneral">
            
            <img src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="imagenesProductos"></img>
            
            <div class="DetallesDeProductos">
              
              <i class="fas fa-truck camion"></i>
              <div class="precio_y_descuento">
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
            </div>
              <p class="descripciones"><b>Cafetera Moulinex</b></p>
              
            </div>
            
          </article>
          
          <article class="productoGeneral">
            
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s10" class="imagenesProductos"></img>
            
            <div  class="DetallesDeProductos">
              
              <i class="fas fa-truck camion"></i>
              <div class="precio_y_descuento">
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
              </div>
              <p class="descripciones"><b>Samsung Galaxy S10</b></p>
              
            </div>
            
          </article>
          
          <article class="productoGeneral">
            
            <img src="/img/img-tv-samsung-smart.jpg" alt="TV Samsung Smart" class="imagenesProductos"></img>
            
            <div class="DetallesDeProductos">
              
              <i class="fas fa-truck camion"></i>
              <div class="precio_y_descuento">
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
            </div>
              <p class="descripciones"><b>SmartTv Samsung 43"</b></p>
              
            </div>
            
          </article>
          
        </section>  
    </main>  -->
    <form action="/login" method="POST" class="create-form">
          <div class="control-formulario">
            <label></label>
          <input type="text" name="nombre_de_usuario" class="control" placeholder="Nombre de Usuario">
        </div>
        <div class="control-formulario">
            <label></label>
            <input type="password" name="password" class="control" placeholder="Contraseña">
          </div>
          <br>
          <br>
          <br>
          <div class="boton_login">
          <button type="submit" class="boton_formulario">Ingresar</button>
        </div>
        </form>
      <footer class="footer">     
      
            <section>
      
              <i class="fas fa-credit-card iconos"></i>
              <h3>Pagá con tarjeta o en efectivo</h3>       
      
              <div>
      
              <p class="cuerpoDelTexto">Con Mercado Liebre Cash, tenés cuotas</p><p class="cuerpoDelTexto">sin interés con tarjeta o efectivo en</p>
              <p class="cuerpoDelTexto">puntos de pago. ¡Y siempre es seguro!</p>
              
             </div>
      
            </section>
      
            <section>
      
              <i class="fas fa-gift iconos"></i>
              <h3>Envío gratis desde $ 2.500</h3>
      
              <div>
      
              <p class="cuerpoDelTexto">Solo por estar registrad@ en Mercado</p><p class="cuerpoDelTexto"> Liebre tenés envíos gratis en miles de</p>
              <p class="cuerpoDelTexto">productos. Es un beneficio de Mercado</p><p class="cuerpoDelTexto">Puntos.</p>
             
             </div>
      
            </section>
      
            <section>
      
              <i class="fas fa-user-shield iconos"></i>
              <h3>Seguridad, de principio a fin</h3>
      
              <div>
      
              <p class="cuerpoDelTexto">¿No te gusta? ¡Devolvelo! En</p><p class="cuerpoDelTexto"> Mercado Liebre, nohay nada que no</p>
              <p class="cuerpoDelTexto">puedas hacer, porque estás siempre</p><p class="cuerpoDelTexto">protegid@.</p>
      
              <br>
              <br>
      
             </div>
      
            </section>
      
            <section>
             <p class="cuerpoDelTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
            <section class="footer2">
      
      
              </section>
            
            </footer>
 </body>
</html>