<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Register</title>
 </head>
 <body>
    <header class="header">
      <div class="header_top_bar">
        <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo_ML"></img></a>
   <!-- <form class="busquedaProductos">
         <label class="barra_busqueda_y_lupa">
          <input type="search" name="busquedaProductos" placeholder="Buscá tu producto">
          <button><i class="fas fa-search"></i></button>
         </label>
        </form> -->
      </div>
      <h2 class="cuotasSinInteres"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
      <nav class="barras_de_navegacion">
        <ul class="barra_nav_izq">
          <li><a href="/ofertas">Ofertas</a></li>
          <li><a href="/tiendas_oficiales">Tiendas oficiales</a></li>
          <li><a href="/vender">Vender</a></li>
          <li><a href="/ayuda">Ayuda</a></li>
        </ul>
        <ul class="barra_nav_der">
          <li><a href="/register">Creá tu cuenta </a><i class="far fa-id-card"></i></li>
          <li><a href="/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="/mis_compras">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
  
    </header>
      <div class="banner">
        <img src="/img/img-home-banner.jpg" alt="Home Banner" class="bannerResponsive"></img>
      </div>
      <form action="/register" method="POST" class="create-form">
        <div class="control-formulario">
          <label></label>
          <input type="text" name="nombre" class="control" placeholder="Nombre">
        </div>
        <div class="control-formulario">
            <label></label>
            <input type="text" name="apellido" class="control" placeholder="Apellido">
        </div>
        <div class="control-formulario">
          <label></label>
          <input type="text" name="nombre_de_usuario" class="control" placeholder="Nombre de Usuario">
        </div>
        <div class="control-formulario">
          <label</label>
          <input type="email" name="Email" class="control" placeholder="E-mail">
        </div>
        <div class="control-formulario">
          <label></label>
          <input type="password" name="password" class="control" placeholder="Contraseña">
        </div>
        <div class="control-formulario">
          <label></label>
            input type="password" name="confirm_password" class="control" placeholder="Confirmar Contraseña">
        </div>
        <div class="control-formulario">
          <label></label>
          <input type="text" name="domicilio" class="control" placeholder="Domicilio">
        </div>
        <div class="control-formulario">
          <label></label>
          <input type="date" name="fecha_nacimiento" class="control" placeholder="Fecha de Nacimiento">
        </div>
        <h4>Perfil de Usuario</h4>
        <div  class="perfil_usuario">
         <label>Comprador</label>
         <input type="radio" name="perfil" value="comprador">
         <label>Vendedor</label>
         <input type="radio" name="perfil" value="vendedor">
        </div>
        <br>
        <h4>Intereses</h4>
        <div class="control-formulario">
         <input name="electro" type="checkbox">Electro
         <br>
         <input name="moda" type="checkbox">Moda
         <br>
         <input name="hogar" type="checkbox">Hogar
         <br>
         <input type="checkbox" name="jugueteria">Jugueteria
         <br>
         <input type="checkbox" name="vida_sana">Vida Sana
         <br>
         <h4>Foto de Perfil</h4>
         <label></label>
         <input type="file">
         <br>
         <br>
         <br>
        <div class="boton_register">
         <button type="reset" class="boton_formulario">Borrar</button>
          <button type="submit" class="boton_formulario">Guardar</button>
        </div>
      </form>
    <footer class="footer">     
      <article>
        <section>
          <div>
           <i class="fas fa-credit-card iconos"></i>
           <h3>Pagá con tarjeta o en efectivo</h3>       
          <div>
          <div>
            <p class="cuerpoDelTexto">Con Mercado Liebre Cash, tenés cuotas</p><p class="cuerpoDelTexto">sin interés con tarjeta o efectivo en</p>
            <p class="cuerpoDelTexto">puntos de pago. ¡Y siempre es seguro!</p>
          </div>
        </section>
        <section>
          <div>
           <i class="fas fa-gift iconos"></i>
           <h3>Envío gratis desde $ 2.500</h3>
          </div>
          <div>
            <p class="cuerpoDelTexto">Solo por estar registrad@ en Mercado</p><p class="cuerpoDelTexto"> Liebre tenés envíos gratis en miles de</p>
            <p class="cuerpoDelTexto">productos. Es un beneficio de Mercado</p><p class="cuerpoDelTexto">Puntos.</p>
          </div>
        </section>
        <section>
          <div>
           <i class="fas fa-user-shield iconos"></i>
           <h3>Seguridad, de principio a fin</h3>
          </div>
          <div>
           <p class="cuerpoDelTexto">¿No te gusta? ¡Devolvelo! En</p><p class="cuerpoDelTexto"> Mercado Liebre, nohay nada que no</p>
           <p class="cuerpoDelTexto">puedas hacer, porque estás siempre</p><p class="cuerpoDelTexto">protegid@.</p>
          </div>
        </section>
      </article>
          <div class="copyright">
           <p class="cuerpoDelTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
          </div>
    </footer>
 </body>
</html>